<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nfz>
            <elasticsearch>
                <healthcheck_url>healthcheck/elasticsearch</healthcheck_url>
            </elasticsearch>
        </nfz>
    </default>
</config>
